.navbar {
  background:#EE1010;
}
.nav > li > a {
  color: #260303;!important;
}

div.jumbotron.ng-scope {
  background:#F67979;!important;
}

div.panel {
  background:#F67979;!important;
  border-width: 0px;
}

div.panel-heading { /*maybe stg else here, eg darker*/
  background:#F67979;!important;
}

div.progress{
  width: 300px;
}
